.loginCont{display: grid; grid-template-columns: 3fr 2fr; height: 100vh;}
.loginBG{background:url(/images/login/loginBG.png)no-repeat; background-size: 100%;}
.loginBG > p{color:#fff; font-size: 60px; font-weight: 300; position: absolute; top:50%; transform: translateY(-50%); left:10%;}
.loginBG > p > span{font-size: 60px;}
.login {padding:50px; background-color: #fff; width: 100%; height: 100%; box-shadow: 0 0 30px 0 #666; border: 1px solid #cfcfcf;}
.login > section { padding-top: 200px;}
.login > section > p { font-size: 40px; padding: 40px 30px 30px 0; }
.login > section > img { width: 100px; }
.login input[type=text], .login input[type=password] { padding: 14px 10px; font-size: 14px; border:1px solid #ccc; border-radius: 12px;}
.login > section > div{position: relative;} 
.login > section > div input[type=checkbox]{position:absolute;top:0;left:0;margin:0;width:24px;height:24px; display: none;}
.login > section > div input[type=checkbox]:checked+label{background-position:0;}
.loginBtn{width:100%; display: block; background-color: #333; color:#fff; font-weight: bold; padding:14px; text-align: center; border-radius: 14px; font-size: 16px;}
        
